body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

.cellEditing input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);
}

.pageBtn {
  width:100px;
  height:30px;
}
